<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="android.first.lal">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="project.first.lal.common.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="project.first.lal.moudle.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="project.first.lal.moudle.register.RegisterActivity"
            android:launchMode="singleTop"/>

        <activity
            android:name="project.first.lal.moudle.show.ShowActivity"
            android:launchMode="singleTop"/>

        <activity
            android:name="project.first.lal.moudle.album.AlbumActivity"
            android:launchMode="singleTop"/>

        <activity
            android:name="project.first.lal.moudle.fanhao.FanhaoActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Fanhao"/>

        <!--<activity-->
            <!--android:name="project.first.lal.moudle.ImageDetailActivity"-->
            <!--android:launchMode="singleTop"/>-->



        <!--Glide设置-->
        <meta-data
            android:name="project.first.lal.common.Glide.FuliModule"
            android:value="GlideModule"/>

    </application>

</manifest>